{extend name="hout@layout/base" /}
{block name="title"}{$title}{/block}
{block name="header"}
{/block}
{block name="body"}
<div class="info">
    <div class="tit">
        <div class="fL"> {$title} </div>
        <div class="menus fR"></div>
    </div>
    <p>提示：请勿重复添加！</p>
</div>
<div class="arcAdd mT10">
    <form action="{:url('save',['id'=>$data['id']])}" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="80">组名：</td>
                <td><input type="text" name="name" value="{$data['name']}" class="w200" /></td>
            </tr>
            <tr>
                <td>权限：</td>
                <td>
                    {if($menus)}
                    {foreach($menus as $a=>$v)}
                    <div class="checkbox">
                    <label><input name="rules[]" type="checkbox" value="{$a}" {:in_array($a, explode(',',$data['rules'])) ? 'checked' : ''} ><b>{$v['name']}</b></label>
                    {if(isset($v['menus']) && $v['menus'])}
                    {foreach($v['menus'] as $b=>$item)}
                    <label><input name="rules[]" type="checkbox" value="{$a}_{$b}" {:in_array($a."_".$b, explode(',',$data['rules'])) ? 'checked' : ''}>{$item['name']}</label>
                    {/foreach}
                    {/if}
                    </div>
                    {/foreach}
                    {/if}
                </td>
            </tr>
            <tr>
                <td>状态：</td>
                <td>
                    <label><input type="radio" name="status" value="1" {:$data['status']==1 ? 'checked' : ''} />启用</label>
                    <label><input type="radio" name="status" value="0" {:$data['status']==0 ? 'checked' : ''}/>禁用</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="确定" class="button">
                    <input type="button" value="返回" onClick="history.go(-1)" class="button"></td>
            </tr>
        </table>
    </form>
</div>

{/block}
{block name="footer"}

{/block}