{extend name="layout/base" /}
{block name="title"}{$title}{/block}
{block name="header"}
<script src="/static/admin/js/jquery.js"></script>
{/block}
{block name="body"}
<div class="info">
    <div class="tit">{$title}</div>
    <p>提示：请勿重复添加！</p>
</div>
<div class="arcAdd mT10">
    <form name="arcform" action="{:url('save',['id'=>$data['id']])}" method="post" class="Validform">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="80"><i>*</i>姓名</td>
                <td><input class="w400" type="text" name="name" value="{$data['name']}" placeholder="至少2个字,最多5个字！" datatype="*2-5" nullmsg="请输入姓名！" errormsg="至少2个字,最多5个字！" {if(!$data.id)} ajaxurl="{:url('hout/Verify/is_unique',['table'=>'admin','field'=>'name'])}"{/if}></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>用户名</td>
                <td><input class="w400" type="text" name="username" value="{$data['username']}" placeholder="至少2个字,最多10个字！" datatype="*2-10" nullmsg="请输入用户名！" errormsg="至少2个字,最多10个字！" {if(!$data.id)} ajaxurl="{:url('hout/Verify/is_unique',['table'=>'admin','field'=>'username'])}"{/if}></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>密码</td>
                <td><input class="w400" type="text" name="password" value="" placeholder="至少2个字,最多20个字！"  datatype="*2-20"  nullmsg="请输入密码！" {$data['id'] ? 'ignore="ignore"' : ""} errormsg="至少2个字,最多20个字！"></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>管理员组</td>
                <td><select name="group" datatype="*" nullmsg="请选择管理员组！">
                    <option value="">==管理员组==</option>
                    {foreach $group as $v}
                    <option value="{$v['id']}" {:$v['id'] == $data['group'] ? 'selected' : ''} >{$v['name']}</option>
                    {/foreach}
                </select></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>手机</td>
                <td><input type="number" name="mobile" datatype="m" errormsg="手机号不正确！" nullmsg="请输入手机号！" value="{$data['mobile']}" class="w400" {if(!$data['id'])}ajaxurl="{:url('hout/Verify/is_unique',['table'=>'admin','field'=>'mobile'])}"{/if}></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>邮箱</td>
                <td><input type="email" name="email" datatype="e" errormsg="email不正确！" nullmsg="请输入email！" value="{$data['email']}" class="w400" {if(!$data['id'])}ajaxurl="{:url('hout/Verify/is_unique',['table'=>'admin','field'=>'email'])}"{/if}></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="确定" class="button">
                    <input type="button" value="返回" onClick="history.go(-1)" class="button" ></td>
            </tr>
        </table>
    </form>
</div>

{/block}
{block name="footer"}
<script src="/static/admin/js/Validform.js"></script>
<script type="text/javascript">
    $(function(){
        $(".Validform").Validform({
            tiptype:4
        });
    })
</script>
{/block}