<div class="header"> <a href="{:url('hout/index')}" class="logo fL"></a><a href="{:url('hout/index')}" class="fL">一果群裂变</a>
    <div class="user"><a href="{:url('hout/Admin/personal')}" title="修改">{:session("admin_login.name")}</a><a href="{:url('hout/Login/logout')}">退出</a></div>
</div>
<div id="my_menu" class="sdmenu">
    <!--<input value="展开" onclick="myMenu.expandAll()" type="button">-->
    <!--<input value="折叠" onclick="myMenu.collapseAll();" type="button">-->
    {if($menu)}
    {foreach($menu as $v)}
    <dl class="collapsed">
        <dt><i class="fa {$v['icon'] | default='fa-circle-o'} fa-fw"></i>{$v['name']}</dt>
        {if(isset($v['menus']) && $v['menus'])}
        {foreach($v['menus'] as $item)}
        <dd><a href="{:url($item['url'])}"><i class="fa {$item['icon'] | default='fa-circle-o'} fa-fw"></i>{$item['name']}</a></dd>
        {/foreach}
        {/if}
    </dl>
    {/foreach}
    {/if}
</div>