{extend name="hout@layout/base" /}
{block name="title"}{$title} {/block}
{block name="header"}
{/block}
{block name="body"}
<div class="info">
    <div class="tit">{$title}</div>
    <div class="search">
        <form action="" method="get">
            <input type="text" name="openid" placeholder="openid" class="w200">
            <input type="submit" class="coolbg" value="搜索" style="cursor:pointer" />
        </form>
    </div>
</div>
<div class="list mT10">
    <form name="CheckboxForm" action="" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr class="tit">
                <th>id</th>
                <th>openid</th>
                <th>ip</th>
                <th>更新时间</th>
                <th width="120">操作</th>
            </tr>
            {foreach ($data['data'] as $v)}
            <tr>
                <td>{$v['id']}</td>
                <td><a href="{:url('user',['openid'=>$v['openid']])}" target="_blank">{$v['openid']}</a></td>
                <td><a href="{:url('user',['ip'=>$v['ip']])}" target="_blank">{$v['ip']}</a> <a href="https://www.baidu.com/s?wd={$v['ip']}" target="_blank">地址</a></td>
                <td>{$v['update_time']}</td>
                <td>
                    <a style="color: #f00" href="{:url('black',['openid'=>$v['openid'], 'ip'=>$v['ip'], 'status'=>0])}">删除</a>
                </td>
            </tr>
            {/foreach}
            <tr>
                <td colspan="18" class="pagelist"><div class="total">共{$data['total']}条记录</div>{$data['page']}</td>
            </tr>

        </table>
    </form>
</div>
{/block}
{block name = "footer"}
{/blcok}