{extend name="hout@layout/base" /}
{block name="title"}{$title}{/block}
{block name="header"}
<script src="/static/admin/js/jquery.js"></script>
<script src="/static/admin/js/ajaxfileupload.js"></script>
<style>
    .uploadimg {
        position: relative;
        width: 100px;
        height: 30px;
        cursor: pointer;
    }

    .uploadimg input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 120px;
        height: 30px;
        z-index: 120;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }
    .pointer {
        cursor: pointer
    }

    .pointer input {
        display: none;
    }

    .list input, .list select{
        height: 30px;
        line-height: 30px;
        padding:0 5px;
    }
</style>
{/block}
{block name="body"}
<div class="info">
    <div class="tit">{$title}
        {if($data['id'])}
        <div class="blue uploadimg fR">
            上传群二维码
            <input type="file" value="" id="upimg" name="upimg[]" multiple>
        </div>
        {/if}
    </div>
    <p>提示：请勿重复添加！</p>
</div>
<div class="arcAdd mT10">
    <form name="arcform" action="{:url('save',['id'=>$data['id']])}" method="post"  enctype="multipart/form-data">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="80"><i>*</i>项目名称</td>
                <td><input class="w400" type="text" name="name" value="{$data['name']}"></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>唯一标识</td>
                <td><input class="w400" type="text" name="key" value="{$data['key']}" {:$data['key'] ? '' : ''}></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>当前二维码编号</td>
                <td><input class="w400" type="text" name="now_ewm_id" value="{$data['now_ewm_id'] | default=1001}"></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>背景图片</td>
                <td>
                    {if($data['bg_img'])}
                    <a href="{$data['bg_img']}" target="_blank">查看</a>
                    {/if}
                    <input type="file"  name="bg_img">
                </td>
            </tr>
            <tr>
                <td width="80"><i>*</i>默认图片</td>
                <td>
                    {if($data['default_img'])}
                    <a href="{$data['default_img']}" target="_blank">查看</a>
                    {/if}
                    <input type="file"  name="default_img">
                </td>
            </tr>
            <tr>
                <td width="80"><i>*</i>最大点击数</td>
                <td><input class="w400" type="text" name="maxopen" value="{$data['maxopen'] | default=120}"></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>最大长按数</td>
                <td><input class="w400" type="text" name="maxtouch" value="{$data['maxtouch'] | default=100}"></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>控制器</td>
                <td><input class="w400" type="text" name="controller" value="{$data['controller'] | default='index'}"></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>用户信息</td>
                <td>
                    <label><input type="radio" name="get_user" value="1" {:$data['get_user']==1 ? 'checked' : ''}/>获取</label>
                    <label><input type="radio" name="get_user" value="0" {:$data['get_user']==0 ? 'checked' : ''}/>不获取</label>
                </td>
            </tr>
            <tr>
                <td width="80"><i>*</i>ip唯一</td>
                <td>
                    <label><input type="radio" name="is_ip" value="1" {:$data['is_ip']==1 ? 'checked' : ''}/>开启</label>
                    <label><input type="radio" name="is_ip" value="0" {:$data['is_ip']==0 ? 'checked' : ''}/>关闭</label>
                </td>
            </tr>
            <tr>
                <td width="80"><i>*</i>统计key1</td>
                <td><input class="w400" name="tongji1" value="{$data['tongji1']}"></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>统计key2</td>
                <td><input class="w400" name="tongji2" value="{$data['tongji2']}"></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>区域黑名单</td>
                <td><input class="w400" type="text" name="black_area" value="{$data['black_area']}"></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>ip段黑名单</td>
                <td><input class="w400" type="text" name="black_ip" value="{$data['black_ip']}"></td>
            </tr>
            <tr>
                <td width="80"><i>*</i>昵称黑名单</td>
                <td><input class="w400" type="text" name="black_name" value="{$data['black_name']}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="确定" class="button">
                    <input type="button" value="返回" onClick="history.go(-1)" class="button" ></td>
            </tr>
        </table>
    </form>
</div>
{if($data['id'])}
<div class="list mT10">
    <div style="padding: 10px;">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr class="tit">
                <th width="50">id</th>
                <th width="120">301入口url</th>
                <th width="190">200落地url</th>
                <th width="50">入口</th>
                <th width="50">进入数量</th>
                <th>分流url</th>
                <th width="50">分流比</th>
                <th width="50">状态</th>
                <th width="120">创建时间</th>
                <th width="50">操作</th>
            </tr>
            {foreach ($url['data'] as $v)}
            <tr {$v['status']==1 ? '' : 'style="color:red"'}>
                <td>{$v['id']}</td>
                <td><a href="http://qr.liantu.com/api.php?m=10&w=300&text=http://{$v['host301']}/shequn/go/index/i/{:enXcrypt($v['id'])}.html" target="_blank">{$v['host301']}</a></td>
                <td>
                    <select name="host200"  data="{$v['id']}" class="selects">
                        {foreach($hosts as $s)}
                        {if($s['type'] == 200)}
                        <option value="{$s['name']}" {:$s['name']==$v['host200'] ? ' selected="selected"' : ''}>{$s['name']}</option>
                        {/if}
                        {/foreach}
                    </select>
                    <a href="{:url('mc', ['id'=>0, 'rk'=>$v['id']])}" target="_blank">查看</a>
                </td>
                <td><a href="{:url('user',['qun_id'=>$data['id']])}?rukou={$v['rukou']}" target="_blank">{$v['rukou']}</a></td>
                <td><span class="getnum" data-r="{$v['rukou']}">{$v['nums'] | default='获取'}</span></td>
                <td class="pointer"><span>{$v['shunturl']}</span><input type="text" name="shunturl" class="inp" data="{$v['id']}" style="width: 300px"></td>
                <td class="pointer"><span>{$v['shuntnum']}</span><input type="text" name="shuntnum" class="inp" data="{$v['id']}" style="width: 30px"></td>
                <td>
                    <select name="status" data="{$v['id']}" class="selects">
                        <option {$v['status'] ? 'selected="selected"' : ''} value="1">启用</option>
                        <option {$v['status'] ? '' : 'selected="selected"'} value="0">禁用</option>
                    </select>
                </td>
                <td>{$v['create_time']}</td>
                <td>
                    <a class="coolbg delcategory" data="{$v['id']}">删除</a>
                </td>
            </tr>
            {/foreach}
            <tr>
                <form id="addcon">
                    <td></td>
                    <td>
                        <select name="host301">
                            <option value='0'>选择域名</option>
                            {foreach($hosts as $v)}
                            {if($v['type'] == 301)}
                            <option value="{$v['name']}">{$v['name']}</option>
                            {/if}
                            {/foreach}
                        </select>
                    </td>
                    <td>
                        <select name="host200">
                            <option value='0'>选择域名</option>
                            {foreach($hosts as $v)}
                            {if($v['type'] == 200)}
                            <option value="{$v['name']}">{$v['name']}</option>
                            {/if}
                            {/foreach}
                        </select>
                    </td>
                    <td><input type="text" name="rukou" style="width: 50px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <select name="status">
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </td>
                    <input type="hidden" name="qun_id" value="{$data['id']}">
                </form>
                <td></td>
                <td>
                    <a class="coolbg addcon">
                        添加
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="18" class="pagelist">
                    <div class="total">共{$url['total']}条记录</div>
                    {$url['page']}
                </td>
            </tr>
        </table>
    </div>
</div>
{/if}
{/block}
{block name="footer"}
<script>
    $("#upimg").on("change", function () {
        $.ajaxFileUpload ({
            type:'POST',
            url:'{:url("ewmuploads",["key"=>$data["key"]])}', //你处理上传文件的服务端
            secureuri:false, //与页面处理代码中file相对应的ID值
            fileElementId:['upimg'],
            dataType: 'text', //返回数据类型:text，xml，json，html,scritp,jsonp五种
            success: function (data) {
                console.log(data);
                if(data)
                {
                    alert("上传成功");
                    window.location.reload(true);
                }else{
                    alert("上传失败")
                }
            },
            error: function (data, status, e){

            }
        })
    });

    $(".addcon").click(function () {
        $.ajax({
            type: 'post',
            url: '{:url("rukouadd")}',
            data: $('#addcon').serialize(),
            async: false,  //默认异步
            cache: false,  //清除缓存
            dataType: 'json',
            success: function (data) {
                if (data) {
                    window.location.reload(true);
                }
            },
            error: function () {
                alert('添加失败');
            }
        });
    });
    $(".pointer").on("click", function () {
        $(this).children("input").show().focus().val($(this).children("span").text());
        $(this).children("span").hide();
    });
    $(".inp").on("blur", function () {
        var id = $(this).attr("data");
        var field = $(this).attr("name");
        var oldval = $(this).siblings("span").text();
        var newval = $(this).val() ? $(this).val() : $(this).siblings("span").text();
        $(this).hide();
        $(this).siblings("span").show().text(newval);

        if (oldval == newval) {
            return;
        }
        $.ajax({
            type: 'post',
            url: '{:url("rukouupdate")}',
            data: {
                value: newval,
                field: field,
                id: id
            },
            async: false,  //默认异步
            cache: false,  //清除缓存
            dataType: 'json',
            success: function (data) {
                if (data) {
                    //alert('修改成功');
                    window.location.reload(true);
                }
            },
            error: function () {
                alert('修改失败');
            }
        });
    });

    $(".delcategory").on("click", function () {
        var r = confirm("你确定要删除吗？");
        if (r == false) {
            return false
        }
        var id = $(this).attr("data");
        var box = $(this).parents('tr');
        $.ajax({
            type: 'post',
            url: '{:url("rukoudel")}',
            data: {
                id: id
            },
            async: false,  //默认异步
            cache: false,  //清除缓存
            dataType: 'json',
            success: function (data) {
                if (data) {
                    box.hide();
                    //alert('删除成功');
                    window.location.reload(true);
                }
                else {
                    alert('删除失败');
                }
            },
            error: function () {
                alert('删除失败');
            }
        });
    });


    $(".selects").on("change", function () {
        var value = $(this).val();
        var field = $(this).attr('name');
        var id = $(this).attr('data');
        $.ajax({
            type: 'post',
            url: '{:url("rukouupdate")}',
            data: {
                value: value,
                field: field,
                id: id
            },
            async: false,  //默认异步
            cache: false,  //清除缓存
            dataType: 'json',
            success: function (data) {
                if (data) {
                    //alert('修改成功');
                    window.location.reload(true);
                }
            },
            error: function () {
                alert('修改失败');
            }
        });
    });

    //获取入口数量
    $(".getnum").on("click", function () {
        var rukou = $(this).attr("data-r");
        var id = "{$data['id']}";
        var that = $(this);
        $.ajax({
            type: 'post',
            url: '{:url("rukougetnum")}',
            data: {
                id: id,
                rukou: rukou
            },
            async: false,  //默认异步
            cache: false,  //清除缓存
            dataType: 'json',
            success: function (data) {
                if (data.nums) {
                    that.text(data.nums);
                }
                else {
                    alert('获取失败');
                }
            },
            error: function () {
                alert('获取失败');
            }
        });
    });
</script>
{/block}