{extend name="hout@layout/base" /}
{block name="title"}{$title} {/block}
{block name="header"}
<script src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/jedate-3.7/jedate/jquery.jedate.js"></script>
<link type="text/css" rel="stylesheet" href="/static/admin/jedate-3.7/jedate/skin/jedate.css">
{/block}
{block name="body"}
<div class="info">
    <div class="tit">{$title}</div>
    <div class="search">
        <form action="" method="get" class="pull-left">
            <select name="qun_id">
                <option value="0">=选择=</option>
                {foreach($quns as $v)}
                <option value="{$v.id}"  {if($v.id == input('qun_id'))}selected{/if}>{$v.name}</option>
                {/foreach}
            </select>
            <input name="begin" class="date"  type="text" placeholder="开始日期" value="{:input('begin')}">
            -
            <input name="end" class="date" type="text"  placeholder="结束日期" value="{:input('end')}"/>
            <input type="submit" class="coolbg" value="搜索" style="cursor:pointer" />
            <script>
                $(".date").jeDate({
                    format:"YYYY-MM-DD",
                })
            </script>
        </form>
        <div class="fR">
            <a class="blue" href="?today=1">今天</a>
            <a class="blue" href="?today=1&all=1">全部</a>
        </div>

    </div>
</div>
<div class="list mT10">
    <form name="CheckboxForm" action="" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr class="tit">
                <th>项目编号</th>
                <th>群编号</th>
                <th>打开人次</th>
                <th>长按人次</th>
                <!--<th>流失</th>-->
                <th>开始时间</th>
                <th>结束时间</th>
                <th>时长</th>
            </tr>
            {foreach ($ewm as $v)}
            <tr>
                <td>{$v['qun_id']}</td>
                <td><a href="{:url('img', ['ewm_id'=>$v['ewm_id'], 'qun_id'=>$v['qun_id']])}" target="_blank">{$v['ewm_id']}</a></td>
                <td>{$v['opens']}</td>
                <td>{$v['touchs']}</td>
                <td>{$v['start_time']}</td>
                <td>{$v['end_time']}</td>
                <td>{$v['time']}</td>
            </tr>
            {/foreach}
            <tr>
                <td colspan="18" class="pagelist"><div class="total">共{$data['total']}条记录</div>{$data['page']}</td>
            </tr>
        </table>
    </form>
</div>
{/block}
{block name = "footer"}
{/blcok}