{extend name="hout@layout/base" /}
{block name="title"}{$title} {/block}
{block name="header"}
{/block}
{block name="body"}
<div class="info">
    <div class="tit">{$title} <a class="add" href="{:url('edit')}"> 添加 </a></div>
    <div class="search">
        <form action="" method="get">
            <input type="text" name="name" placeholder="项目名称" class="w200">
            <input type="submit" class="coolbg" value="搜索" style="cursor:pointer" />
        </form>
    </div>
</div>
<div class="list mT10">
    <form name="CheckboxForm" action="" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr class="tit">
                <th>id</th>
                <th>名称</th>
                <th>唯一标识</th>
                <th>控制器</th>
                <th>最大点击数</th>
                <th>最大长按数</th>
                <th>当前二维码id</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th width="120">操作</th>
            </tr>
            {foreach ($data['data'] as $v)}
            <tr>
                <td>{$v['id']}</td>
                <td><a href="{:url('mc', ['id'=>$v['id']])}" target="_blank">{$v['name']}</a></td>
                <td>{$v['key']}</td>
                <td>{$v['controller']}</td>
                <td>{$v['maxopen']}</td>
                <td>{$v['maxtouch']}</td>
                <td>{$v['now_ewm_id']}</td>
                <td>{$v['create_time']}</td>
                <td>{$v['update_time']}</td>
                <td>
                    <a class="look" href="{:url('tongji',['id'=>$v['id']])}" target="_blank"></a>
                    <a class="edit" href="{:url('edit',['id'=>$v['id']])}"></a>
                    <!--<a class="del" onclick='if(confirm("你确定要删除吗？")==false){ return false }' href="{:url('Admin/del',['id'=>$v['id']])}"></a>-->
                </td>
            </tr>
            {/foreach}
            <tr>
                <td colspan="18" class="pagelist"><div class="total">共{$data['total']}条记录</div>{$data['page']}</td>
            </tr>

        </table>
    </form>
</div>
{/block}
{block name = "footer"}
{/blcok}