<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>-->
    <title>{$title}_一果群裂变</title>
    <link href="/static/admin/css/base.css" rel="stylesheet" type="text/css">
    <script src="/static/admin/js/jquery.js"></script>
</head>

<body>
<div class="info">
    <div class="tit">{$title}</div>
</div>
<div class="list mT10">
    <form name="CheckboxForm" action="" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr class="tit">
                <th>群编号</th>
                <th>打开人次</th>
                <th>长按人次</th>
                <!--<th>流失</th>-->
                <th>开始时间</th>
                <th>结束时间</th>
                <!--<th>成员数</th>-->
                <!--<th>截图量</th>-->
                <th>时长</th>
                <th width="120">操作</th>
            </tr>
            {foreach ($data as $v)}
            <tr {:$v['ewm_id'] == $now_ewm_id ? 'class="bgred"' : ''}>
            <td><a href="{:url('img', ['ewm_id'=>$v['ewm_id'], 'qun_id'=>input('id'), 'is'=>1])}" target="_blank">{$v['ewm_id']}</a></td>
            <td>{$v['opens']}</td>
            <td>{$v['touchs']}</td>
            <td>{$v['start_time']}</td>
            <td>{$v['end_time']}</td>
            <!--<td><input type="text" name="members" class="inp" value="{$v['members']}" style="width: 30px;"data="{$v['id']}"></td>-->
            <!--<td><input type="text" name="imgs" class="inp" value="{$v['imgs']}" style="width: 30px;"data="{$v['id']}"></td>-->
            <td>{$v['time']}</td>
            <td>
                {if($v['ewm_id'] == $now_ewm_id)}
                <span class="coolbg" style="color: #f00">当前</span>
                {else}
                <a class="coolbg change" data="{:url('change',['ewm_id'=>$v['ewm_id'], 'qun_id'=>input('id')])}">切换</a>
                {/if}
                <a class="coolbg" target="_blank" href="{:url('user',['qun_id'=>input('id')])}?ewm_id={$v['ewm_id']}">查看</a>
            </td>
            </tr>
            {/foreach}

        </table>
    </form>
</div>

<script>
    $(".change").on("click", function () {
        var url = $(this).attr("data");
        $.ajax({
            url:url,
            type:'GET',
            dataType: 'json',
            success: function (data) {
                window.location.reload();
            },
            error: function () {
                alert("切换失败")
            }
        });
    });
    $(".inp").on("blur", function () {
        var id = $(this).attr("data");
        var field = $(this).attr("name");
        var val = $(this).val();
        if(val){
            $.ajax({
                type: 'post',
                url: '{:url("update")}',
                data: {
                    value: val,
                    field: field,
                    id: id
                },
                async: false,  //默认异步
                cache: false,  //清除缓存
                dataType: 'json',
                success: function (data) {
                    if (data) {
//                        alert('修改成功');
//                    window.location.reload(true);
                    }
                },
                error: function () {
                    alert('修改失败');
                }


            });
        }
    });
    function refresh(){
        window.location.reload();
    }
    setTimeout('refresh()', 30000);
</script>
</body>
</html>