{extend name="hout@layout/base" /}
{block name="title"}{$title}{/block}
{block name="header"}
<script src="/static/admin/js/jquery.js"></script>
<script src="/static/admin/js/CheckboxForm.js"></script>
<script type="text/javascript" src="/static/admin/jedate-3.7/jedate/jquery.jedate.js"></script>
<link type="text/css" rel="stylesheet" href="/static/admin/jedate-3.7/jedate/skin/jedate.css">
{/block}
{block name="body"}
<div class="menus">
    <a href="">文档管理</a><a href="">文档管理</a><a href="">文档管理</a>
</div>
<div class="info">
    <div class="tit">{$title} <a class="add" href=""> 添加 </a></div>
    <p>提示：文档不能删除，若要删除请联系客服！</p>
    <p>提示：未审核通过的文档不能查看！</p>
    <div class="search">
        <form action="" method="get">
            关键字：
            <input type="text" name="keyword" value="" class="w200" />
            属性：
            <select name="flag">
                <option value="0"> </option>
                <option value="t">头条</option>
                <option value="c">推荐</option>
                <option value="a">特荐</option>
                <option value="p">图片</option>
                <option value="j">跳转</option>
            </select>
            状态：
            <select name="status">
                <option value='2'>选择</option>
                <option value='0'>关闭</option>
                <option value='1'>启用</option>
            </select>
            时间：
            <input name="begin" class="date"  type="text" placeholder="开始日期" value="">
            -
            <input name="end" class="date" type="text"  placeholder="结束日期" value=""/>
            <input type="submit" class="coolbg" value="搜索" style="cursor:pointer" />
            <script>
                $(".date").jeDate({
                    format:"YYYY-MM-DD",
                })

            </script>
        </form>
    </div>
</div>

<div class="list mT10">
    <form name="CheckboxForm" action="" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr class="tit">
                <td  width="5%">ID</td>
                <td  width="5%">选择</td>
                <td  width="30%">标题</td>
                <td  width="10%">位置</td>
                <td  width="15%">发布时间</td>
                <td  width="10%">类型</td>
                <td  width="5%">点击数</td>
                <td  width="5%">状态</td>
                <td  width="5%">审核</td>
                <td  width="10%">操作</td>
            </tr>
            <tr>
                <td>321432</td>
                <td><input name="id" type="checkbox" id="aid" value="43243"></td>
                <td class="tL">标题</td>
                <td>位置</td>
                <td>2017-02-06</td>
                <td>类型</td>
                <td>43242</td>
                <td>正常</td>
                <td><font color="#FF0000">未审核</font></td>
                <td>
                    <a class="edit" href="" title="修改"></a>
                    <a class="del" onclick='if(confirm("你确定要删除吗？")==false){ return false }' href="" title="删除"></a>
                    <a class="look" href="" target="_blank" title="查看"></a></td>
            </tr>
            <tr class="bg">
                <td>321432</td>
                <td><input name="id" type="checkbox" id="aid" value="43243"></td>
                <td class="tL">标题</td>
                <td>位置</td>
                <td>2017-02-06</td>
                <td>类型</td>
                <td>43242</td>
                <td>正常</td>
                <td><font color="#FF0000">未审核</font></td>
                <td>
                    <a class="edit" href="" title="修改"></a>
                    <a class="del" onclick='if(confirm("你确定要删除吗？")==false){ return false }' href="" title="删除"></a>
                    <a class="look" href="" target="_blank" title="查看"></a></td>
            </tr>
            <tr>
                <td>321432</td>
                <td><input name="id" type="checkbox" id="aid" value="43243"></td>
                <td class="tL">标题</td>
                <td>位置</td>
                <td>2017-02-06</td>
                <td>类型</td>
                <td>43242</td>
                <td>正常</td>
                <td><font color="#FF0000">未审核</font></td>
                <td>
                    <a class="edit" href="" title="修改"></a>
                    <a class="del" onclick='if(confirm("你确定要删除吗？")==false){ return false }' href="" title="删除"></a>
                    <a class="look" href="" target="_blank" title="查看"></a></td>
            </tr>
            <tr>
                <td>321432</td>
                <td><input name="id" type="checkbox" id="aid" value="43243"></td>
                <td class="tL">标题</td>
                <td>位置</td>
                <td>2017-02-06</td>
                <td>类型</td>
                <td>43242</td>
                <td>正常</td>
                <td><font color="#FF0000">未审核</font></td>
                <td>
                    <a class="edit" href="" title="修改"></a>
                    <a class="del" onclick='if(confirm("你确定要删除吗？")==false){ return false }' href="" title="删除"></a>
                    <a class="look" href="" target="_blank" title="查看"></a></td>
            </tr>
            <tr>
                <td>321432</td>
                <td><input name="id" type="checkbox" id="aid" value="43243"></td>
                <td class="tL">标题</td>
                <td>位置</td>
                <td>2017-02-06</td>
                <td>类型</td>
                <td>43242</td>
                <td>正常</td>
                <td><font color="#FF0000">未审核</font></td>
                <td>
                    <a class="edit" href="" title="修改"></a>
                    <a class="del" onclick='if(confirm("你确定要删除吗？")==false){ return false }' href="" title="删除"></a>
                    <a class="look" href="" target="_blank" title="查看"></a></td>
            </tr>
            <tr>
                <td>321432</td>
                <td><input name="id" type="checkbox" id="aid" value="43243"></td>
                <td class="tL">标题</td>
                <td>位置</td>
                <td>2017-02-06</td>
                <td>类型</td>
                <td>43242</td>
                <td>正常</td>
                <td><font color="#FF0000">未审核</font></td>
                <td>
                    <a class="edit" href="" title="修改"></a>
                    <a class="del" onclick='if(confirm("你确定要删除吗？")==false){ return false }' href="" title="删除"></a>
                    <a class="look" href="" target="_blank" title="查看"></a></td>
            </tr>
            <tr>
                <td>321432</td>
                <td><input name="id" type="checkbox" id="aid" value="43243"></td>
                <td class="tL">标题</td>
                <td>位置</td>
                <td>2017-02-06</td>
                <td>类型</td>
                <td>43242</td>
                <td>正常</td>
                <td><font color="#FF0000">未审核</font></td>
                <td>
                    <a class="edit" href="" title="修改"></a>
                    <a class="del" onclick='if(confirm("你确定要删除吗？")==false){ return false }' href="" title="删除"></a>
                    <a class="look" href="" target="_blank" title="查看"></a></td>
            </tr>
            <tr>
                <td>321432</td>
                <td><input name="id" type="checkbox" id="aid" value="43243"></td>
                <td class="tL">标题</td>
                <td>位置</td>
                <td>2017-02-06</td>
                <td>类型</td>
                <td>43242</td>
                <td>正常</td>
                <td><font color="#FF0000">未审核</font></td>
                <td>
                    <a class="edit" href="" title="修改"></a>
                    <a class="del" onclick='if(confirm("你确定要删除吗？")==false){ return false }' href="" title="删除"></a>
                    <a class="look" href="" target="_blank" title="查看"></a></td>
            </tr>

            <tr>
                <td colspan="10"><div class="pagelist"><div class="total">共1200条记录</div>
                    <ul class="pagination"><li><a href="/admin/wechat_user/index.html?page=2">«</a></li> <li><a href="/admin/wechat_user/index.html?page=1">1</a></li><li><a href="/admin/wechat_user/index.html?page=2">2</a></li><li class="active"><span>3</span></li><li><a href="/admin/wechat_user/index.html?page=4">4</a></li><li><a href="/admin/wechat_user/index.html?page=5">5</a></li><li><a href="/admin/wechat_user/index.html?page=6">6</a></li><li><a href="/admin/wechat_user/index.html?page=7">7</a></li><li><a href="/admin/wechat_user/index.html?page=8">8</a></li><li class="disabled"><span>...</span></li><li><a href="/admin/wechat_user/index.html?page=39">39</a></li><li><a href="/admin/wechat_user/index.html?page=40">40</a></li> <li><a href="/admin/wechat_user/index.html?page=4">»</a></li></ul>                                    </div></td>
            </tr>
            <tr>
                <td colspan="10">
                    <input type='button' class="coolbg"  value='全选' onClick="selAll()" />
                    <input type='button' class="coolbg"  value='取消' onClick="selNone()" />
                    <input type='button' class="coolbg"  value='反选' onClick="selNor()"  />
                    <input type='button' class="coolbg"  value='启用' onClick="passCheckboxForm()" />
                    <input type='button' class="coolbg"  value='关闭' onClick="disableCheckboxForm()" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="arcAdd mT10">
    <form name="arcform" action="" method="post" class="Validform">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="80"><i>*</i>文档标题</td>
                <td><input type="text" name="title" placeholder="至少2个字,最多40个字！" id="title" datatype="*2-40"  nullmsg="请输入标题！" errormsg="至少2个字,最多40个字！"  value="" class="w400"></td>
            </tr>
            <tr>
                <td>简略标题</td>
                <td><input type="text" name="shorttitle" placeholder="填写简略标题有利于seo!（简略标题和文档标题不能一样！）" value="" class="w400"></td>
            </tr>
            <tr>
                <td>推荐位置</td>
                <td><input type="checkbox" name="checkbox[]" value="t">
                    首页&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="checkbox[]" value="c">
                    栏目&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="checkbox[]" value="a">
                    店铺&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="checkbox[]" value="p">
                    文档&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" name="checkbox[]" value="j">
                    跳转
                    <input type="text" name="jump" placeholder="输入要跳转的链接地址！" datatype="url" ignore="ignore" errormsg="URL错误！"  value="" class="w300">
                    </td>
            </tr>
            <tr>
                <td>缩略图</td>
                <td><div class="uploadImage"
                         style="background-image: url('/static/admin/img/addimg.png')"
                         id="bg">
                    <input type="hidden" name="img" id="in">
                    <input id="uploadImage" type="file" accept="image/*">
                </div></td>
            </tr>
            <tr>
                <td><i>*</i>栏目</td>
                <td><select name="fid" id="fid" datatype="*" nullmsg="请选择栏目！"><option value=''>==请选择栏目==</option><option value='1' disabled="disabled">分类</option><option value='2'>─分类</option><option value='3'>─分类</option><option value='4'>─分类</option><option value='5'>─分类</option><option value='6'>─分类</option><option value='7'>─分类</option><option value='8'>─分类</option></select></td>
            </tr>
            <tr>
                <td>关键字</td>
                <td><input type="text" name="keywords" placeholder="填写有利于seo!" value="" class="w400"></td>
            </tr>
            <tr>
                <td style="vertical-align: text-top">文档摘要</td>
                <td><textarea name="description" cols="100" rows="3" placeholder="填写有利于seo!" style="font-size:12px; margin:5px 0"></textarea></td>
            </tr>
            <tr>
                <td style="vertical-align: text-top">文档内容</td>
                <td><textarea name="p_content" style="width:100%"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="确定" name="submit" class="button">
                    <input type="button" value="返回" onClick="history.go(-1)" class="button" ></td>
            </tr>
        </table>
    </form>
</div>
{/block}
{block name="footer"}
<script language="javascript">
    // 禁用
    function disableCheckboxForm()
    {
        var qstr=getCheckboxItem();
        if(qstr=="") alert("你没选中任何内容！");
        else location.href="?id="+qstr;
    }
    // 启用
    function passCheckboxForm()
    {
        var qstr=getCheckboxItem();
        if(qstr=="") alert("你没选中任何内容！");
        else location.href="?id="+qstr;
    }
</script>
<script src="/static/admin/js/Validform.js"></script>
<script type="text/javascript">
    $(function(){
        $(".Validform").Validform({
            tiptype:4
        });
    })
</script>
<script>
    $('#uploadImage').on('change', function () {
        var oFReader = new FileReader();
        var oFile = document.getElementById('uploadImage').files[0];
        oFReader.readAsDataURL(oFile);
        oFReader.onload = function (oFREvent) {
            var img = oFREvent.target.result;
            $('#in').val(img);
            $('#bg').css("background-image", "url('" + img + "')");
        };
    });
</script>
<!-- 加载编辑器的容器 -->
<script id="container" name="content" type="text/plain">
        这里写你的初始化内容
    </script>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/admin/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/admin/ueditor/ueditor.all.js"></script>
<script type="text/javascript">
    $('textarea[name="p_content"]').attr('id', 'editor_id_p_content');
    var imageEditor = UE.getEditor('editor_id_p_content', {
        toolbars: [

            ['fullscreen', 'source', 'undo', 'redo',

                'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall',

                'lineheight',

                'customstyle', 'paragraph', 'fontfamily', 'fontsize', 'indent',

                'justifyleft', 'justifycenter', 'justifyright',

                'link', 'unlink', 'insertimage', 'wordimage', 'emotion', 'attachment', 'map']

        ],

        autoHeightEnabled: false,

        autoFloatEnabled: true,

        initialFrameHeight: 500,

        catchRemoteImageEnable: false

    });
</script>

{/block}
